/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.004);
    font-size: 100%;
    font-weight: 400;
    color: #2E3440;
    background: #ECEFF4;
}

svg {
    height: 100%;
    width: 100%;
}

.app {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

input.inputBig {
    font-family: inherit;
    font-size: 2em;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2em 0.15em 0;
    pointer-events: auto;
    color: #4C566A;
    border: none;
    border-bottom: 2px solid #D8DEE9;
    background: transparent;
    outline: none;
}

@keyframes pulse {
  50% {
    background: #fff;
  }
}

.loading {
    position: relative;
    width: 6px;
    height: 24px;
    background: rgba(255,255,255, 0.2);
    animation: pulse 750ms infinite;
    animation-delay: 250ms;
}

.loading::before, .loading::after {
    content: '';
    display: inline-block;
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgba(255,255,255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse 750ms infinite;
}
 .loading::before {
    left: -12px;
}
.loading::after {
    left: 12px;
    animation-delay: 250ms;
}